*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F5F6F6;
    font-family: "Montserrat";
    color: #3D3D3D;
}

a {
    text-decoration: none;
    transition: 0.15s ease-in-out;
}

ul,
ol,
li {
    list-style-type: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    justify-content: space-between;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

/* кнопки */

.primary_btn {
    background: #5617D2;
    color: #fff;
    padding: 15px 35px;
    border-radius: 7px;
    display: block;
    width: fit-content;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: "Montserrat";
    transition: 0.15s ease-in-out;
    font-size: 16px;
    font-weight: 600;
}

.primary_btn:hover {
    background: #292929;
}

.secondary_btn {
    display: block;
    padding: 10px 28px;
    border: 1px solid #fff;
    border-radius: 7px;
    color: #fff;
    width: fit-content;
}

.secondary_btn:hover {
    background: #292929;
}

/* шапка */

.main_header {
    box-shadow: 0px 5px 20px rgba(21, 37, 66, 0.15);
}

.main_header.element_pad {
    padding: 20px 35px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.main_header .logo,
.user__nav__list,
.lk__nav {
    display: flex;
    align-items: center;
}

.main_header .logo p {
    margin-left: 10px;
}

.strong {
    font-weight: 700;
}

.user__nav__list .user__nav__item:not(:first-of-type),
.lk__nav .lk__nav__item:not(:first-of-type) {
    margin-left: 30px;
}

.main_header a {
    color: inherit;
}

.icon_btn {
    padding: 12px 20px;
    border: 1px solid #5617D2;
    border-radius: 25px;
    display: block;
}

.icon_btn i {
    margin-left: 15px;
}

.lk__nav__item i {
    color: #5617D2;
}

.icon_btn:hover {
    background: #5617D2;
    color: #fff;
}

.icon_btn:hover i {
    color: #fff;
}

.user__navigation a:hover,
.lk__nav a:not(.icon_btn):hover {
    color: #5617D2;
}

/* стартовый экран после шапки на главной странице */

.element_pad {
    padding: 0 35px;
}

.badge {
    padding: 6px 25px;
    border-radius: 25px;
    background: #E7E9EC;
    color: #444444;
    width: fit-content;
    font-weight: 600;
}

.purple {
    color: #5617D2;
}

.promo_heading {
    font-weight: 800;
    font-size: 80px;
    margin-top: 25px;
}

.promo_desc {
    color: rgba(21, 37, 66, 0.6);
    margin-top: 50px;
    margin-bottom: 42px;
    white-space: pre-line;
    line-height: 24px;
    letter-spacing: -0.48px;
}

.promo_row {
    display: flex;
    background: #fff;
    align-items: center;
    border-radius: 20px;
}

.promo_col {
    flex: 0 0 50%;
    max-width: 50%;
}

.promo {
    position: relative;
    margin-top: 15px;
}

.promo_col_info {
    overflow: hidden;
}

.promo_col_info_ctn {
    padding-left: 110px;
}

.badge {
    animation-name: TransformTop;
    animation-duration: .8s;
    animation-fill-mode: both;
    animation-delay: 1.3s;
    animation-timing-function: cubic-bezier(.165, .84, .44, 1);
}

.promo_animation_ctn {
    animation-name: TransformBottom;
    animation-duration: 2.5s;
    animation-delay: .1s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.77, 0, .175, 1);
}

@keyframes TransformBottom {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.promo_bg {
    position: relative;
    height: 922px;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
}

/* книжкая слева */
.promo_bg .promo_bg_ctn:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    bottom: 137px;
    left: calc(50% + -58%);
    z-index: 7;
    animation-name: AuxFadeInDown2;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.165, .84, .44, 1);
}

/* книжка справа */
.promo_bg .promo_bg_ctn:nth-child(2) {
    position: absolute;
    width: auto;
    bottom: 141px;
    left: calc(50% + -59%);
    z-index: 6;
    animation-name: TransformTop;
    animation-duration: 2s;
    animation-delay: .4s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.25, .46, .45, .94);
}

/* оранжевая линия */
.promo_bg .promo_bg_ctn:nth-child(3) {
    position: absolute;
    width: auto;
    max-width: 900px;
    top: 95px;
    left: calc(50% + -409px);
    min-width: 1070px;
    z-index: 5;
    animation-name: AuxFadeInPreloaded;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-delay: .8s;
}

/* круг из линий */
.promo_bg .promo_bg_ctn:nth-child(4) {
    position: absolute;
    width: auto;
    top: 236px;
    right: -118px;
    z-index: 4;
    animation-name: AuxRotateIn;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.165, .84, .44, 1);
}

/* фиолетовая линия */
.promo_bg .promo_bg_ctn:nth-child(5) {
    position: absolute;
    top: 187px;
    left: calc(50% + -440px);
    width: auto;
    max-width: 900px;
    min-width: 1070px;
    z-index: 3;
    animation-name: AuxFadeInPreloaded;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(.77, 0, .175, 1);
}

/* фиолетовый круг */
.promo_bg .promo_bg_ctn:nth-child(6) {
    position: absolute;
    width: auto;
    bottom: 139px;
    left: calc(50% + -50%);
    max-width: 100%;
    z-index: 2;
    animation-name: AuxScaleUp2;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.77, 0, .175, 1);
}

/* анимация парящей книги */
.animation_book_fly {
    animation-name: FlyBook;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes AuxFadeInDown2 {
    from {
        opacity: 0;
        transform: translate3d(0, -75px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes AuxScaleUp2 {
    from {
        transform: scale(.6, .6);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes AuxRotateIn {
    from {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        transform-origin: center;
        transform: none;
        opacity: 1;
    }
}

@keyframes TransformTop {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes AuxFadeInPreloaded {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes FlyBook {
    from {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
    }
}

/* блок с категориями книг на главной странице */

.categories {
    margin-top: 50px;
}

.main_title,
.desc_aft_title {
    text-align: center;
}

.main_title {
    position: relative;
    font-size: 35px;
    font-weight: 700;
    padding-top: 25px;
}

.main_title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 3px;
    background: #5617D2;
}

.desc_aft_title {
    color: rgba(21, 37, 66, 0.6);
    margin-top: 13px;
}

.category_item h3 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.categories_list {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 255px 25px 244px;
    grid-template-areas: 'psychology psychology psychology teennagers teennagers teennagers novel novel novel novel novel literature literature literature'
        'biography biography biography biography biography biography novel novel novel novel novel literature literature literature'
        'biography biography biography biography biography biography novel novel novel novel novel fantastic fantastic fantastic';
    gap: 20px;
}

.categories_list .category_item {
    border-radius: 20px;
}

.categories_list .category_item:first-of-type h3,
.categories_list .category_item:nth-child(6) h3 {
    color: #152542;
}

.categories_list .category_item:first-of-type {
    grid-area: psychology;
    background: #BBCFF4;
}

.categories_list .category_item:nth-child(2) {
    grid-area: teennagers;
    background: #F24E4C;
}

.categories_list .category_item:nth-child(3) {
    grid-area: novel;
    text-align: center;
    background: #38C08B;
}

.categories_list .category_item:nth-child(4) {
    grid-area: literature;
    background: #1F61DC;
}

.categories_list .category_item:nth-child(5) {
    grid-area: biography;
    background: #152542;
}

.categories_list .category_item:nth-child(6) {
    grid-area: fantastic;
    background: #FFA700;
}

.categories_list .category_item:first-of-type .category_item_ctn,
.categories_list .category_item:nth-child(2) .category_item_ctn,
.categories_list .category_item:nth-child(4) .category_item_ctn,
.categories_list .category_item:nth-child(6) .category_item_ctn {
    padding-top: 26px;
    padding-left: 33px;
}

.categories_list .category_item:nth-child(3) .category_item_ctn {
    padding-top: 42px;
    padding-left: 23px;
    padding-right: 23px;
}

.categories_list .category_item:nth-child(5) .category_item_ctn {
    padding-top: 38px;
    padding-right: 70px;
}

.categories_list .category_item:nth-child(5) .category_item_ctn h3 {
    white-space: pre-line;
    margin-left: auto;
    width: fit-content;
}

.category_item a {
    margin: 0 auto;
    margin-top: 30px;
}

.categories_list .category_item .category_item_bg {
    background-image: url('../media/image/categories/1.png');
    background-repeat: no-repeat;
    height: 100%;
    background-position: bottom;
}

.categories_list .category_item:nth-child(1) .category_item_bg {
    background-position-y: 103px;
}

.categories_list .category_item:nth-child(2) .category_item_bg {
    background-image: url('../media/image/categories/2.png');
    background-position-y: 66px;
}

.categories_list .category_item:nth-child(3) .category_item_bg {
    background-image: url('../media/image/categories/3.png');
    background-position-y: 245px;
}

.categories_list .category_item:nth-child(4) .category_item_bg {
    background-image: url('../media/image/categories/4.png');
    background-position-y: 107px;
    background-position-x: right;
}

.categories_list .category_item:nth-child(5) .category_item_bg {
    background-image: url('../media/image/categories/5.png');
    background-position-y: 80px;
}

.categories_list .category_item:nth-child(6) .category_item_bg {
    background-image: url('../media/image/categories/6.png');
    background-position-y: 27px;
}

/* блок "выбирайте нас" на главной странице */

.choose_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 530px 460px;
    grid-template-areas: 'first second'
        'third third';
    gap: 20px;
    margin-top: 70px;
}

.choose {
    margin-top: 20px;
    margin-bottom: 80px;
}

.choose_item {
    background: #fff;
    border-radius: 20px;
}

.choose_list .choose_item:first-of-type {
    grid-area: first;
}

.choose_list .choose_item:nth-child(2) {
    grid-area: second;
}

.choose_list .choose_item:nth-child(3) {
    grid-area: third;
}

.choose_item_ctn {
    margin: 50px;
    height: calc(100% - 100px);
}

.choose_item h3 {
    position: relative;
    padding-bottom: 21px;
    width: fit-content;
    margin-bottom: 50px;
}

.choose_item h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #BBCFF4;
}

.choose_item_row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.choose_item_img {
    flex: 0 0 37%;
}

.choose_item_info {
    flex: 0 0 56%;
}

.choose_item_info p {
    line-height: 35px;
    font-weight: 500;
}

.choose_list .choose_item:last-of-type .choose_item_row>div:last-of-type {
    order: -1;
}

.choose_item img {
    width: 100%;
}

.choose_item_ctn {
    background-image: url('../media/image/choose_service.png');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: 300px 300px;
}

.choose_list .choose_item:nth-child(2) .choose_item_ctn {
    background-image: url('../media/image/choose_ticket.png');
}

.choose_list .choose_item:nth-child(3) .choose_item_ctn {
    background-image: url('../media/image/choose_info.png');
    background-size: 568px 354px;
    background-position-x: right;
}

/* каталог на главной странице */

.index_catalog_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.index_catalog_heading hr{
    width: 50%;
    height: 1px;
    background: #BBCFF4;
    border: none;
}

.index_catalog{
    margin: 70px 0;
}

.catalog_ctn{
    padding: 60px;
    background: #fff;
    border-radius: 20px;
}

.index_catalog .catalog_list{
    gap: unset;
}

.index_catalog .catalog_item{
    padding: 20px;
}

.index_catalog_heading h2{
    font-size: 35px;
    font-weight: 400;
}

/* блок с картой */

.map h2 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 55px;
    position: relative;
}

.map h2::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(30% + 170px);
    width: calc(70% - 170px);
    height: 1px;
    transform: translateY(-50%);
    background: #BBCFF4;
}

.map_ctn {
    padding: 55px;
    background: #fff;
    border-radius: 20px;
}

/* футер */

footer {
    background: #152542;
    padding: 11px 0;
}

.footer_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 500;
}

.social_medias_list {
    display: flex;
}

.social_medias_list .social_item:first-of-type {
    margin-right: 18px;
}




/* страница каталога */

/* шапка каталога */

.heading_col_nav h1{
    margin-bottom: 10px;
}

.catalog_heading {
    margin: 38px 0;
}

.catalog_heading_row {
    display: flex;
    justify-content: space-between;
}

.heading_col_info {
    flex: 0 0 70%;
    display: flex;
    justify-content: space-between;
}

.catalog_sort {
    display: flex;
}

.sort_icon {
    padding: 5px;
    background: #fff;
    border-radius: 2px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.sort_icon img {
    opacity: .4;
}

.sort_row {
    margin-right: 15px;
}

.sort_icon.active img {
    opacity: .7;
}

.nav_heading{
    display: flex;
}

.nav_heading_item a{
    color: rgba(21, 37, 66, 0.56);
    font-weight: 600;
}

.nav_heading .nav_heading_item:not(:first-of-type){
    padding-left: 30px;
    position: relative;
}

.nav_heading .nav_heading_item:not(:first-of-type)::before{
    content: '';
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 10px;
    background: url('../media/image/icons/arrow_link.svg');
    background-repeat: no-repeat;
}

/* форма каталога + инпуты */

.filter_search h2{
    margin-bottom: 23px;
}

.filter_search h2:last-of-type{
    margin-top: 23px;
}

.catalog_form button{
    margin-top: 40px;
    width: 100%;
}

.form_control {
    border: none;
    outline: none;
    padding: 15px 27px;
    background: rgba(21, 37, 66, 0.1);
    border-radius: 30px;
    width: calc(100% - 54px);
    font-family: "Montserrat";
}

.form_control::placeholder,
.form_control:-moz-placeholder,
.form_control::-moz-placeholder {
    color: #152542;
    font-size: 14px;
    font-family: "Montserrat";
}

.checkbox_control {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox_label {
    position: relative;
    padding-left: 55px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.catalog_form .catalog_checkbox_field:not(:first-of-type) {
    margin-top: 14px;
}

.checkbox_label::before {
    content: '';
    border: 1px solid rgba(21, 37, 66, 0.23);
    border-radius: 5px;
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: .3s;
}

.checkbox_control:checked+.checkbox_label::before{
    background: #5617D2;
}

fieldset{
    border: none;
}

.catalog_checkbox_field {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
}

.checkbox_result {
    margin-left: auto;
}

.title_custom {
    font-size: 20px;
    position: relative;
}

.title_custom::after {
    content: '';
    position: absolute;
    background: rgba(21, 37, 66, 0.2);
    height: 1px;
    width: calc(100% - 126px);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* каталог */

.catalog_index_ctn{
    padding: 60px;
    background: #fff;
    border-radius: 20px;
}

.catalog_row {
    display: flex;
    justify-content: space-between;
}

.filter_search {
    flex: 0 0 23%;
}

.catalog_index {
    flex: 0 0 70%;
}

.catalog_list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.catalog_item{
    flex: 0 0 22%;
    margin-bottom: 30px;
}

.catalog_item_image_ctn{
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
    /* filter: drop-shadow(0px 10px 40px rgba(21, 37, 66, 0.2)); */
}

.catalog_item_image_ctn img{
    width: 100%;
}

.book_stars_unfill{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.book_stars_par{
    position: relative;
    margin-bottom: 40px;
    margin-top: 14px;
}

.book_stars_fill{
    overflow: hidden;
    position: absolute;
    top: 2px;
    left: 2px;
}

.book_stars_fill img{
    height: 100%;
    object-fit: cover;
}

.catalog_item h3{
    font-size: 18px;
    margin-top: 34px;
    margin-bottom: 13px;
}

.catalog_item a{
    color: rgba(21, 37, 66, 0.45);
    font-weight: 500;
}

.listActive .catalog_item{
    flex: 0 0 100%;
}

.listActive .catalog_item_row{
    display: flex;
    justify-content: space-between;
}

.listActive .catalog_item_image_ctn{
    width: 220px;
}

.listActive .catalog_item_info{
    flex: 0 0 75%;
}

.book_desc{
    display: none;
}

.listActive .book_desc{
    display: block;
    margin-top: 60px;
}

/* Страница Входа и Регистрации */

.authorization{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.background-dots{
    position: absolute;

    height: 88px;
    background: url("../media/image/background_dots.png")
}

.background-dots_first{
    width: 168px;
    left: -63px;
    top: 187px;
}

.background-dots_second{
    width: 160px;
    right: 0;
    bottom: 0px;
}

.authorization_form{
    padding-top: 40px;
    width: 690px;
    border-radius: 20px;
    background:#FFFFFF;
    margin: 0 auto;
}

.authorization_field{
    display: flex;
    justify-content: space-between;
}

.authorization_field .input{
    width: 180px;
}

.authorization_form_content{
    padding: 42px 118px 52px 118px;
    
    display: flex;
    flex-direction: column;
    text-align: center;

}

.authorization_caption{
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
}

.authorization_caption::before{
    margin: 0 auto;
    content:"";
    width: 55px;
    height: 3px;
    background: #5617D2;
    margin-bottom: 25px;
}

.input{
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 1px solid #C6C6C6;
    border-radius: 7px;
    outline: none;
    font-size: 16px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
    font-family: "Montserrat";
    color: #152542;
}

.input:focus{
    outline: 1px #5617D2 solid;
}

.field__file-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-radius:30px;
}
   
.field__file-fake {
    width: 281px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #C6C6C6;
    border-radius: 0 4px 4px 0;
    border-left: none;
}
   
.field__file-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 40px;
    background: #EFEFEF;
    border: 1px solid #C6C6C6;
    border-radius: 4px 0px 0px 4px;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.login_btn{
    margin: 55px auto 25px auto;
}

.additional_btn{
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #5617D2;


    display: flex;
    align-items: center;
    justify-content: space-between;
}

.additional_btn:hover{
    color:#292929;
}

.additional_btn::before,
.additional_btn::after{
    content:"";
    width: 160px;
    height: 1px;
    background:#292929;
}

.left_nav{
    background: #152542;
    width: 295px;
    height: 100vh;
    text-align: right;
    transform: translateX(-190px);
    transition: transform .5s;
    position: fixed;
    top: 0;
    left: 0;
}

.left_nav span{
    font-size: 0;
}

.left_nav a{
    padding: 15px 40px;
    color: #fff;
    font-weight: 500;
}

.left_nav a:hover{
    background: #233b68;
}

.left_nav_ctn{
    display: flex;
    flex-direction: column;
}

.left_nav:hover{
    transform: translateX(0);
    text-align: left;
}

.left_nav:hover span{
    font-size: 16px;
    margin-left: 15px;
}



/* верстка страницы мои бронирования */

.main_block_lk{
    margin: 0 auto;
    margin-top: 100px;
}

.lk_inner_block{
    padding: 30px 50px;
    background: #fff;
    border-radius: 20px;
}

.main_table{
    text-align: center;
    font-weight: 500;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0px 5px 20px rgba(21, 37, 66, 0.15);
}

.main_table_heading{
    font-weight: 700;
    color: rgba(150, 144, 169, 1);
    background: #F9F8FC;
}

.table_image_ctn{
    width: 35px;
}

.table_image_ctn img{
    width: 100%;
}

.table_image_text{
    display: flex;
    align-items: center;
}

.table_image_text p{
    margin-left: 15px;
}

.main_table th, .main_table td{
    padding: 10px 30px;
}

.text-danger{
    color: rgba(239, 108, 107, 1);
}

.text-succes{
    color: #38C08B;
}

.text-primary{
    color: #0D6EFD;
}

.main_block_lk h1{
    margin-bottom: 40px;
    font-size: 35px;
    text-transform: capitalize;
}

.btn_icon{
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
}

.table_actions{
    display: flex;
    justify-content: center;
}

.table_actions a{
    display: block;
    margin-right: 15px;
}

.main_table tr:not(.main_table_heading) {
    border-bottom: 2px solid #F9F8FC;
}

.main_table tr:last-of-type{
    border-bottom: none;
}

.eye_icon{
    color: inherit;
}


.lk_caption_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.lk_caption_row h1{
    margin-bottom: 0;
}
.lk_caption_row>.primary_btn{
    padding: 11px 20px;
}
.primary_btn svg {
   margin-left: 10px;
}
.input.search{
    width: 310px;
    margin-bottom: 50px;
}
.input::placeholder{
    color: #949494;
}


.table_image_ctn.author{
    width: 50px;
}

td.author_description{
    width: 80%;  
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    /*-webkit-line-clamp: 2;*/
}
.authors_table {
    table-layout: fixed;
  }